<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.my_wms2.mapper.InboundMapper">

    <select id="inbound_selectAll_M" resultType="com.ssg.my_wms2.Domain.InboundVO">
        SELECT * FROM inbound
    </select>

    <select id="inbound_SearchByProduct_M" resultType="com.ssg.my_wms2.Domain.InboundVO">
        SELECT * FROM inbound
        WHERE product_id = #{keyword}
    </select>

    <insert id="inbound_request_M" parameterType="com.ssg.my_wms2.Domain.InboundVO">
        INSERT INTO inbound (
        product_id,
        inbound_quantity,
        req_inbound_day,
        warehouse_id,
        status,
        userid
        )
        VALUES (
        #{product_id},
        #{inbound_quantity},
        #{req_inbound_day},
        #{warehouse_id},
        #{status},
        #{userid}
        )
    </insert>

    <update id="inbound_approveStatus_M" parameterType="int">
        UPDATE inbound
        SET status = '승인'
        WHERE inbound_id = #{inbound_id}
    </update>

    <select id="inbound_selectById_M" resultType="com.ssg.my_wms2.Domain.InboundVO" parameterType="int">
        SELECT * FROM inbound
        WHERE inbound_id = #{inbound_id}
    </select>


    <select id="inventory_checkExist_M" resultType="int">
        SELECT COUNT(*) FROM inventory
        WHERE warehouse_id = #{warehouse_id}
        AND product_id = #{product_id}
    </select>

    <insert id="inventory_insert_M">
        INSERT INTO inventory (warehouse_id, product_id, quantity,userid)
        VALUES (#{warehouse_id}, #{product_id}, #{quantity},#{userid})
    </insert>

    <update id="inventory_addQuantity_M">
        UPDATE inventory
        SET quantity = quantity + #{quantity}
        WHERE warehouse_id = #{warehouse_id}
        AND product_id = #{product_id}
    </update>

    <select id="inbound_selectByUser_M" parameterType="string" resultType="com.ssg.my_wms2.Domain.InboundVO">
        SELECT * FROM inbound
        WHERE userid = #{userid}
        ORDER BY inbound_id DESC
    </select>

    <select id="inbound_SearchByWarehouse" resultType="com.ssg.my_wms2.dto.InboundDTO">
        SELECT * FROM inbound
        WHERE warehouse_id =#{warehouseName}
    </select>

    <select id="inbound_SearchByDate" resultType="com.ssg.my_wms2.dto.InboundDTO">
        SELECT * FROM inbound
        WHERE req_inbound_day BETWEEN #{startDate} AND #{endDate}
    </select>











</mapper>

